[Unit]
Description=Ethereum Go Client (ETH1)
After=network.target
Wants=network.target

[Service]
Type=simple
User=geth
Group=geth
UMask=0077
Restart=always
RestartSec=5
SyslogIdentifier=geth
ExecStart=/usr/bin/geth \
    --datadir /var/lib/geth \
#    --datadir.ancient /chaindata/geth/ancient \
    --metrics --pprof \
#    --goerli \
#    --datadir /var/lib/geth_goerli \
    --http \
#    --http.addr=192.168.XXX.XXX \
#    --http.vhosts="*"

[Install]
WantedBy=default.target
