[Unit]
Description=Lighthouse Beacon Node (ETH2)
Wants=network-online.target
Requires=geth.service
After=network-online.target geth.service

[Service]
Type=simple
User=lhbn
Group=lhbn
UMask=0077
Restart=always
RestartSec=5
SyslogIdentifier=lhbn
ExecStart=/usr/local/bin/lighthouse bn \
    --datadir /var/lib/lhbn \
    --freezer-dir /chaindata/lighthouse_bn/freezer_db \
    --http \
    --eth1 \
    --testnet medalla

[Install]
WantedBy=multi-user.target
