[Unit]
Description=Lighthouse Validator Client (ETH2)
Wants=network-online.target
Requires=lighthouse-beacon-node.service
After=network-online.target lighthouse-beacon-node.service

[Service]
Type=simple
User=lhvc
Group=lhvc
UMask=0077
Restart=always
RestartSec=10
SyslogIdentifier=lhvc
ExecStart=/usr/local/bin/lighthouse vc \
    --datadir /automnt/keystores/mainnet/lighthouse

[Install]
WantedBy=multi-user.target
