[Unit]
Description=Teku Validator Client (ETH2)
Wants=network-online.target
Requires=teku-beacon-node.service
Conflicts=lighthouse-validator-client.service
After=network-online.target teku-beacon-node.service

[Service]
Type=simple
User=teku
Group=teku
UMask=0077
Restart=always
RestartSec=10
SuccessExitStatus=143
SyslogIdentifier=tkvc
# Wait more than 2 epochs (13 minutes, 780 seconds) befor starting the validator client to prevent accidental double voting after client switch.
#ExecStartPre=/bin/sleep 780
#TimeoutStartSec=900

ExecStart=null
#ExecStart=/usr/local/bin/teku vc \
#    --log-file=/var/lib/teku/validator/teku-validator.logs \
#    --data-path=/var/lib/teku \
#    --validator-keys="/automnt/keystores/mainnet/teku:/automnt/keystores/mainnet/#teku" \
#    --network=mainnet \

# CAUTION! Make sure no other mainnet validator is running in parallel.

[Install]
WantedBy=multi-user.target
