[Unit]
Description=Testnet Lighthouse Beacon Node (ETH2)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=lhbn
Group=lhbn
UMask=0077
Restart=always
RestartSec=5
SyslogIdentifier=testnet-lhbn
ExecStart=/usr/local/bin/lighthouse bn \
    --datadir /var/lib/lighthouse \
    --network pyrmont \
    --staking \
    --metrics \
    --target-peers 10 \
    --port 9002 \
    --eth1-blocks-per-log-query 100 \
    --eth1-endpoints https://goerli.infura.io/v3/XXX,https://eth-goerli.alchemyapi.io/v2/XXX

# remember to look up infura link on https://infura.io/
# remember to look up alchemy link on https://dashboard.alchemyapi.io/login

[Install]
WantedBy=multi-user.target
