[Unit]
Description=Testnet Lighthouse Beacon Node (ETH2)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=lhbn
Group=lhbn
UMask=0077
Restart=always
RestartSec=5
SyslogIdentifier=testnet-lhbn
ExecStart=/usr/local/bin/lighthouse bn \
    --datadir /var/lib/lighthouse/chaindata \
#    --freezer-dir /chaindata/lighthouse/freezer_db \
    --staking \
    --metrics \
    --eth1-endpoint https://goerli.infura.io/v3/XXX \
    --testnet pyrmont

# remember to look up infura link on https://infura.io/

[Install]
WantedBy=multi-user.target
